<footer class="footer bg-dark py-4">
    <div class="container mx-auto text-center text-gray-600 text-sm">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Bangla Hotel</h5>
                <p>Experience comfort and luxury in the heart of the city.</p>
            </div>

            {% comment %} CONTACT SECTION {% endcomment %}
            <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: info@banglahotel.com</li>
                    <li>Phone: +880 1234 567890</li>
                    <li>Address: 123 Main Street, Dhaka</li>
                </ul>
            </div>

            {% comment %} FOLLOW SECTION {% endcomment %}
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <a href="#" class="text-gray me-2"><i class="fab fa-facebook">Facebook</i></a>
                <a href="#" class="text-gray me-2"><i class="fab fa-twitter">Twitter</i></a>
                <a href="#" class="text-gray"><i class="fab fa-instagram">Instagram</i></a>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            &copy; <span id="year"></span> Bangla Hotel. All rights reserved.
        </div>
    </div>
</footer>

{% comment %} <footer class="bg-white py-6">
<div class="container mx-auto text-center text-gray-600 text-sm">
    &copy; <span id="year"></span> Bangla Hotel. All rights reserved.
</div>
</footer> {% endcomment %}
